@model TestTask.Models.EditStudentModel

@{
    ViewBag.Title = "EditStudent";
}

<h2>EditStudent</h2>


@if (User.IsInRole("Teacher"))
{
    using (Html.BeginForm("UpdateStudent", "Home"))
    {
        <table>
            <tr>
                <td>
                    @Html.LabelFor(model => model.User.Name)
                    @Html.EditorFor(model => model.User.Name)
                    @Html.HiddenFor(model => model.User.Id)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.User.Surname)
                    @Html.EditorFor(model => model.User.Surname)
                </td>
            </tr>
            <tr>
                <td>
                    <h1>Предметы, которые посещает студент:</h1>
                </td>
            </tr>
            @for (int i = 0; i < Model.Subjects.Count; i++)
            {
                <tr>
                    <td>
                        @Model.Subjects[i].Subject.Subject
                        @Html.CheckBoxFor(x => Model.Subjects[i].Active)
                    </td>
                    <td>
                        @Html.HiddenFor(x => Model.Subjects[i].Subject.Id)
                        @Html.HiddenFor(x => Model.Subjects[i].Subject.Subject)
                    </td>
                </tr>
            }
        </table>
        <input type="submit" value="Update" class="btn-default" />
    }
}
else
{
    <table>
        <tr>
            <td>
                @Html.LabelFor(model => model.User.Name)
                @Model.User.Name
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.User.Surname)
                @Model.User.Surname
            </td>
        </tr>
        <tr>
            <td>
                <h1>Предметы, которые посещает студент:</h1>
            </td>
        </tr>
        @for (int i = 0; i < Model.Subjects.Count; i++)
        {
            if (Model.Subjects[i].Active)
            {
                <tr>
                    <td>
                        @Model.Subjects[i].Subject.Subject
                    </td>
                </tr>
            }
        }
    </table>
}
