@model TestTask.Models.EditTeacherModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
@using (Ajax.BeginForm("EditTeacher", "Home", new AjaxOptions()))
{
    <table>
        <tr>
            <td>
                @Html.LabelFor(model => model.User.Name)
                @Html.EditorFor(model => model.User.Name)
                @Html.HiddenFor(model => model.User.Id)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.User.Surname)
                @Html.EditorFor(model => model.User.Surname)
            </td>
        </tr>
        @for (int i = 0; i < Model.ActiveEdit.Count; i++)
        {
            <tr>
                <td>
                    @(Model.ActiveEdit[i].Name + " " + Model.ActiveEdit[i].Surname)
                    @Html.CheckBoxFor(x => Model.ActiveEdit[i].Active)
                </td>
                <td>
                    @Html.HiddenFor(x => Model.ActiveEdit[i].UserId)
                </td>
            </tr>
        }
    </table>
}