@model TestTask.Models.StatisticModel
@{
    ViewBag.Title = "Contact";
}
<h2>Учителя, чьи курсы посещают все ученики</h2>
<table class="table">
    @foreach (var a in Model.TeacherMore)
    {
        <tr>
            <td>
                @(a.Teacher.Name + " "+a.Teacher.Surname)
            </td>
            <td>
                @a.Count
            </td>
        </tr>
    }
</table>
<h2>Учителя, чьи курсы посещают меньше всего учеников</h2>
<table class="table">
    @foreach (var a in Model.TeacherLess)
    {
        <tr>
            <td>
                @(a.Teacher.Name + " " + a.Teacher.Surname)
            </td>
            <td>
                @a.Count
            </td>
        </tr>
    }
</table>
<h2>Студенты, чей балл выше среднего</h2>
<table class="table">
    @foreach (var a in Model.ListStudentModel)
    {
        if (a.MiddleScores > 3)
        {
            <tr>
                <td>
                    @(a.Name + " " + a.Surname)
                </td>
                <td>
                    @a.MiddleScores
                </td>
            </tr>
        }
    }
</table>
<h2>Студенты, чей балл ниже среднего</h2>
<table class="table">
    @foreach (var a in Model.ListStudentModel)
    {
        if (a.MiddleScores < 3)
        {
            <tr>
                <td>
                    @(a.Name + " " + a.Surname)
                </td>
                <td>
                    @a.MiddleScores
                </td>
            </tr>
        }
    }
</table>